<div class="container-fluid black-container">
   <div class="row">
      <div class="col-span-12 text-center">
      </div>
   </div>
</div>
<div class="container-fluid pt-1">
    <section class="about">
    <div class="container">
        <div class="row">
            <div class="about_contents d-flex">
                <div class="col-sm-5 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1s; animation-delay: 0s; animation-name: fadeInUp;">
                    <div class="about_title">
                        About <span class="seprate">Cryptocurrency Tracker</span>
                    </div>
                    <span class="square pink"></span>
                    <span class="square blue"></span>
                    <span class="square gold"></span>
                </div>
                <div class="col-sm-7 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1s; animation-delay: 0s; animation-name: fadeInUp;">
                    <div class="about_text">
                        <div class="intro_about">Cryptocurrency Tracker, the smart high-frequency and algorithmic trading platform.</div>
                        <p>
                            Broadly defined, high-frequency trading refers to automated, electronic systems that use complex algorithms (strings of coded instructions for computers) to buy and sell much faster and at much greater scale than any human could do. Our system is designed to make just a tiny profit on each transaction, but through sheer speed and volume, we generate large returns. Hence, we don’t risk a lot but we do profit a lot.
                        </p>
                        <p>
                            Isn’t that exactly what everyone dreams of? With us you can earn up to 10% per day and withdraw hourly. Fast profits with fast withdrawals. Everything is automated to supply the best possible experience for our investors. If you want to know more about how and why we do this, click on the button below to find out.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about_section_new">
    <div class="container">
        <div class="row">
            <div class="about_img wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1s; animation-delay: 0s; animation-name: fadeInUp;">
                <img src="https://via.placeholder.com/1000x400.png?text=The+Team" class="img-fluid">
            </div>
            <div class="paragrapgh_content">
                <div class="para_content_item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1s; animation-delay: 0s; animation-name: fadeInUp;">
                    <h4 class="h4">Why do you share this extremely profitable project with us?</h4>
                    <p>We started cryptocurrencytracker.com because we had a dream. We wanted everybody to enjoy the benefits of today’s technology. We had the knowledge, all we needed was a way to let the average Joe enjoy the benefits of cryptocurrencytracker.com. That is the one and only reason why we have set up this platform. We have been perfecting our know-how since 2010! Don’t believe us? Invest and see for yourself! We’ve been at it for a long time.</p>
                </div>
                <div class="para_content_item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1s; animation-delay: 0s; animation-name: fadeInUp;">
                    <h4 class="h4">Your investment plans yield so fast, how is that possible?</h4>
                    <p>15% hourly for 10 hours, that’s fast! How “fast” is fast? Blink, and you’ll miss it. Advances in technology in recent years have made it possible to place buy and sell orders at an ever increasing pace, to automate older, existing strategies and to create new, previously infeasible ones. Trades can now be executed in a few microseconds, one hundred thousand times faster than the blink of an eye (normally about 100 to 400 milliseconds).</p>
                </div>
                <div class="para_content_item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1s; animation-delay: 0s; animation-name: fadeInUp;">
                    <h4 class="h4">So you guys are fast, I get it. But are you smart enough to use this technology?</h4>
                    <p>We wouldn’t have called ourselves cryptocurrencytracker.com if that wasn’t true! It is estimated that 75% of US stock trades are not placed by humans but by computer algorithms. This figure has been expanding over time and is expected to continue to do so. More trading is done by machines than humans because the human brain cannot process the volumes of information needed to make trading decisions and place trades before a competitor does. Algorithms can process millions of pieces of data per second, make sub-millisecond decisions, and take autonomous actions.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="overall_history">
    <div class="counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1s; animation-delay: 0s; animation-name: fadeInUp;">
                    <div class="employees">
                        <div class="c_icons"><img src="/assets/images/users.png" class="img-fluid"></div>
                        <p class="counter-count">2512</p>
                        <p class="employee-p">Total Users</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1s; animation-delay: 0s; animation-name: fadeInUp;">
                    <div class="customer">
                        <div class="c_icons"><img src="/assets/images/invest.png" class="img-fluid"></div>
                        <p class="money_">$<span class="counter-count">65335</span>
                        </p>
                        <p class="customer-p">Total Investments</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1s; animation-delay: 0s; animation-name: fadeInUp;">
                    <div class="design">
                        <div class="c_icons"><img src="/assets/images/withdraw.png" class="img-fluid"></div>
                        <p class="money_">
                            $<span class="counter-count">54856</span></p>
                        <p class="design-p">Total Withdrawals</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1s; animation-delay: 0s; animation-name: fadeInUp;">
                    <div class="order">
                        <div class="c_icons"><img src="/assets/images/online.png" class="img-fluid"></div>
                        <p class="counter-count">11</p>
                        <p class="order-p">Days Online</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="referral_commision">
    <div class="container">
        <div class="row">
            <div class="text-center title d-block wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1s; animation-delay: 0s; animation-name: fadeInUp;">
                Referral commission
                <small>Referral program is tiered in 2 levels</small>
            </div>
            <div class="d-flex w-100 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1s; animation-delay: 0s; animation-name: fadeInUp;">
                <ul class="percents">
                    <li class="percent_item">6%</li>
                    <li class="percent_item">2%</li>
                </ul>
            </div>
        </div>
    </div>
</section>
</div>